@import "../../../styles/mixins";

:host(app-header) {
  padding-top: 0;
  padding-bottom: 6.5rem;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    mat-toolbar {
      background-color: $primary--color;

      mat-icon {
        color: $white;
        opacity: 0.6;
      }
    }
  }
}

a {
  color: $white !important;
  text-decoration: none !important;

  span {
    font-weight: bold;
  }
}

@media (max-width: 807px) {
  #today {
    width: 50%;
  }

  #logo {
    display: none;
  }
}

@media (max-width: 680px) {
  :host(app-header) {
    padding-top: 0;
    padding-bottom: 1rem;

    header {
      position: relative;

      nav {
        height: 7rem;
        display: flex;
        padding: 1rem 2rem 0;

        > div {
          margin-top: 1rem;
        }

        #today {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  :host(app-header) {
    padding-bottom: 0;

    header {
      nav {
        app-search-bar {
          width: 75%;
        }
      }
    }
  }
}
